Left Join

In [4]:
import pandas as pd
world_champs = {'Team':['India','Australia','West-Indies','Pakistan','Sri-lanka'] , 'ICC-RANKS':[2,3,7,8,4] , 'WIN-YEAR':[2011,2015,1979,1992,1996] , 'POINTS':[874,787,753,673,855]}
chokers = {'Team':['South-africa','Newzealand','Zimbabwe'] , 'ICC-RANKS':[1,5,9] , 'POINTS':[895,764,656]}
df1=pd.DataFrame(world_champs)
df2=pd.DataFrame(chokers)
print(pd.merge(df1,df2, on='Team',how='left'))

          Team  ICC-RANKS_x  WIN-YEAR  POINTS_x  ICC-RANKS_y  POINTS_y
0        India            2      2011       874          NaN       NaN
1    Australia            3      2015       787          NaN       NaN
2  West-Indies            7      1979       753          NaN       NaN
3     Pakistan            8      1992       673          NaN       NaN
4    Sri-lanka            4      1996       855          NaN       NaN

Right Join

In [5]:
print(pd.merge(df1,df2, on='Team',how='right'))

           Team  ICC-RANKS_x  WIN-YEAR  POINTS_x  ICC-RANKS_y  POINTS_y
0  South-africa          NaN       NaN       NaN            1       895
1    Newzealand          NaN       NaN       NaN            5       764
2      Zimbabwe          NaN       NaN       NaN            9       656

Inner Join

In [6]:
print(pd.merge(df1,df2, on='Team',how='inner'))

Empty DataFrame
Columns: [Team, ICC-RANKS_x, WIN-YEAR, POINTS_x, ICC-RANKS_y, POINTS_y]
Index: []

Full Outer Join

In [7]:
print(pd.merge(df1,df2, on='Team',how='outer'))

           Team  ICC-RANKS_x  WIN-YEAR  POINTS_x  ICC-RANKS_y  POINTS_y
0         India          2.0    2011.0     874.0          NaN       NaN
1     Australia          3.0    2015.0     787.0          NaN       NaN
2   West-Indies          7.0    1979.0     753.0          NaN       NaN
3      Pakistan          8.0    1992.0     673.0          NaN       NaN
4     Sri-lanka          4.0    1996.0     855.0          NaN       NaN
5  South-africa          NaN       NaN       NaN          1.0     895.0
6    Newzealand          NaN       NaN       NaN          5.0     764.0
7      Zimbabwe          NaN       NaN       NaN          9.0     656.0