Adding a new column to Dataframe and then Doing Regression

In [7]:
import pandas as pd
from math import sqrt
import numpy as np
data=pd.read_csv('Advertising.csv', index_col=0)
# data.head()

In [8]:
np.random.seed(12345)
nums=np.random.rand(len(data))
mask_large=nums>0.5
data['saleSize']='small'
data.loc[mask_large,'saleSize'] = 'large'
data['islarge'] = data.saleSize.map({'small':0 , 'large':1})
data.head()

      TV  radio  newspaper  sales saleSize  islarge
1  230.1   37.8       69.2   22.1    large        1
2   44.5   39.3       45.1   10.4    small        0
3   17.2   45.9       69.3    9.3    small        0
4  151.5   41.3       58.5   18.5    small        0
5  180.8   10.8       58.4   12.9    large        1

Doing multiple regression and including 'islarge' predictor

In [10]:
from sklearn.linear_model import LinearRegression
feature_col = ['TV','radio','newspaper','islarge']
x=data[feature_col]
y=data.sales
lm=LinearRegression()
lm.fit(x,y)
zip(feature_col,lm.coef_)

In [11]:
np.random.seed(123456)
nums=np.random.rand(len(data))
mask_suburan = (nums>0.33) & (nums<0.66)
mask_urban = nums>0.66
data['Area']='rural'
data.loc[mask_suburan,'Area'] = 'suburban'
data.loc[mask_urban,'Area'] = 'urban'
# data.head()

      TV  radio  newspaper  sales saleSize  islarge      Area
1  230.1   37.8       69.2   22.1    large        1     rural
2   44.5   39.3       45.1   10.4    small        0     urban
3   17.2   45.9       69.3    9.3    small        0     rural
4  151.5   41.3       58.5   18.5    small        0     urban
5  180.8   10.8       58.4   12.9    large        1  suburban

In [12]:
area_dummies=pd.get_dummies(data.Area , prefix='Area').iloc[:,1:]
data=pd.concat([data,area_dummies],axis=1)
# data.head()

,TV,radio,newspaper,sales,saleSize,islarge,Area,Area_suburban,Area_urban
1,230.1,37.8,69.2,22.1,large,1,rural,0,0
2,44.5,39.3,45.1,10.4,small,0,urban,0,1
3,17.2,45.9,69.3,9.3,small,0,rural,0,0
4,151.5,41.3,58.5,18.5,small,0,urban,0,1
5,180.8,10.8,58.4,12.9,large,1,suburban,1,0

In [13]:
feature_col = ['TV','radio','newspaper','islarge','Area_suburban','Area_urban']
x=data[feature_col]
y=data.sales
lm=LinearRegression()
lm.fit(x,y)
print(feature_col,lm.coef_)

['TV', 'radio', 'newspaper', 'islarge', 'Area_suburban', 'Area_urban'] [ 0.04574401  0.1878667  -0.0010877   0.07739661 -0.10656299  0.26813802]